In [1]:
range(20)

range(0, 20)

# Loop
## For Loop

In [7]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [10]:
my_name = "Khalid"
for character in my_name:
    print(character)

K
h
a
l
i
d

While

In [14]:
count = 0
while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [ ]:
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [16]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [19]:
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [22]:
n = 10
sum = 0
for i in range(11):
    sum=sum+i
    print(sum)

0
1
3
6
10
15
21
28
36
45
55

In [25]:
for i in range(1,101):
    if i>1:
        for j in range(2,i):
            if i%j == 0:
                break
        else:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# List()

# set()

# Dictionary
{"my name":"Khalid"}